<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mobile App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
  <ion-list-header>
    <ion-label>Navigation</ion-label>
  </ion-list-header>
  <ion-item>
    <ion-button [routerLink]="['/home']"fill="clear">Home</ion-button>
  </ion-item>
  <ion-item>
    <ion-button [routerLink]="['/movie-details']" fill="clear">Movie-Details</ion-button>
  </ion-item>
  <ion-item>
    <ion-button [routerLink]="['/details']" fill="clear">Details</ion-button>
  </ion-item>
  <ion-item>
    <ion-button [routerLink]="['/favourites']" fill="clear">Favourites</ion-button>
  </ion-item>
</ion-list>
</ion-content>
