<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      G00236152
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
  <ion-list-header>
    <ion-label>Navigation</ion-label>
  </ion-list-header>
  <ion-item>
    <ion-button [routerLink]="['/home']"fill="clear">Home</ion-button>
  </ion-item>
  <ion-item>
    <ion-button [routerLink]="['/movie-details']" fill="clear">Movie-Details</ion-button>
  </ion-item>
  <ion-item>
    <ion-button [routerLink]="['/details']" fill="clear">Details</ion-button>
  </ion-item>
  <ion-item>
    <ion-button [routerLink]="['/favourites']" fill="clear">Favourites</ion-button>
  </ion-item>
</ion-list>

<ion-input label="Search" placeholder="Movie title" [(ngModel)]="keyword"></ion-input>
<ion-button (click)="openMovies()">Search</ion-button>

<ion-button fill="clear" aria-label="Favorite">
  <ion-icon name="heart"></ion-icon>
</ion-button>
<br>
<br>
<ion-label>Todays Trending Movies</ion-label>


  <ion-card *ngFor="let movie of movieInfo">
  <img src= "https://image.tmdb.org/t/p/w500{{movie.poster_path}}"/>
  <ion-card-header>
    <ion-card-title>{{movie.title}}</ion-card-title>
    <ion-card-subtitle>Rating: {{movie.vote_average}}</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>{{movie.overview}}</ion-card-content>
</ion-card>
</ion-content>



