<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>details</ion-title>
  </ion-toolbar>
</ion-header>

<!-- added ngIf for certain criteria below in case there was no value to return i.e. deathday,biography etc -->
<ion-content [fullscreen]="true">
<ion-button [routerLink]="['/home']" fill="clear" aria-label="Home" >
  <ion-icon name="home-outline" size="large"></ion-icon>
</ion-button>

  <ion-card>
  <ion-card-header>
    <img src= "https://image.tmdb.org/t/p/w500{{personInfo?.profile_path}}" width="500"/>
    <ion-card-title>Name: {{personInfo?.name}}</ion-card-title>
    <ion-card-subtitle *ngIf="personInfo?.also_known_as">AKA: {{personInfo?.also_known_as}}</ion-card-subtitle>
    <ion-card-subtitle *ngIf="personInfo?.birthday">Date of Birth: {{personInfo?.birthday}}</ion-card-subtitle>
    <ion-card-subtitle *ngIf="personInfo?.deathday">Date of death: {{personInfo?.deathday}}</ion-card-subtitle>
    <ion-card-subtitle *ngIf="personInfo?.place_of_birth">Place of Birth: {{personInfo?.place_of_birth}}</ion-card-subtitle>
    <ion-card-subtitle *ngIf="personInfo?.biography">Bio: {{personInfo?.biography}}</ion-card-subtitle>
  </ion-card-header>
</ion-card>


<ion-card>
  <ion-card-header>
    <ion-card-title>List of films</ion-card-title>
    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item *ngFor="let movie of creditsInfo" (click)="openMovieDetails(movie.id)">
        <ion-thumbnail slot="start">
          <img src= "https://image.tmdb.org/t/p/w500{{movie?.poster_path}}" />
        </ion-thumbnail>
        <ion-label>{{movie?.title}}</ion-label>
      </ion-item>
      </ion-list>
</ion-card-content>
</ion-card>

